.Rproj.user
.Rhistory
.RData
.Ruserdata
!Output/BinaryCVHApplesToApples
RemadeTreesAllZoonomiaSpecies.rds
ProjectFrameworkPreGitted.Rproj
allInsectivory
Output/carnvHerbs
*PermulationsData*
Rplots.pdf
Src/Loc/inspectGetPermsBinary.R
*laura*
Results/carnvHerbRERFileMinSp35.rds
Data/Testing
*FishTree*
Output/Test
Output/Domestication/IgnoreGit
Correlationfile
PathsFile
RERFile
*graphs*
Output/categoryTest
Output/CategoricalSpeedTest
Results/CategoricalPermulationsTimingTrees.rds
Output/CategoricalDiet3Phen
Output/CategoricalDiet4Phen
Output/CategoricalDiet5Phen
Data/Old
Output/Old/doubleOld
Data/NoSign
Output/EcholocationUpdate2
!Output/ThreePhenLikeihoodTest
!Output/CategoricalDiet3Phen
!Output/CVHRemake
!Output/LiverExpression3
!Output/IPCRelaxTest
!Output/HMGRelaxTest
!Output/IPCUnRelaxTest
!Output/HMGUnRelaxTest
!Output/MaturityLifespanPercent
!Data/mergedData.csv
*.bak
*Hyphy*
*Enrichment-*